<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Servidor node</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
    <body>
        <main class="container">
        <h1>Bienvenido a la tienda RECON</h1>
    
        <h3>Artículos disponibles:</h3>
        
        <div class="row" id="resultados">
            <% for (let product of ropa) { %>

                <div class="col s3">
                    <div class="card small">
                        <div class="card-image waves-effect waves-block waves-light">
                          <img class="activator" src="<%= product.imagen %>">
                        </div>
                        <div class="card-content">
                          <span class="card-title activator grey-text text-darken-4"><%= product.nombre %><i class="material-icons right">more_vert</i></span>
                          <p><a href="#">...</a></p>
                        </div>
                         
                        <div class="card-reveal">
                          <span class="card-title grey-text text-darken-4"><%= product.nombre %><i class="material-icons right">close</i></span>
                          <p>Fuente de la imagen: <%= product.imagen %></p>
                        </div>
                    </div>
                </div>
             <% } %>
        </div>

        
    <!-- Modal Trigger -->
    <button data-target="modal1" class="btn modal-trigger">Modal</button>
    
    <!-- Modal Structure -->
    <div id="modal1" class="modal">
        <div class="modal-content">
        <h4>Modal Header</h4>
        <p>A bunch of text</p>
        </div>
        <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
        </div>
    </div>
        
  
        
        

        
        <p>Rutas de la página web:</p>
        <ul>
            <li>users/login</li>
            <li>users/logout</li>
            <li>tienda/inicio</li>
            <li>tienda/add-product</li>
            <li>Jorge/biografia</li>
            <li>Jorge/favorite-players</li>
            <li>Mariana/biografia</li>
            <li>pregunta</li>
        </ul>

        <% if(isLoggedIn){%>
            <h4>You are logged in</h4>
        <%}%>
    </main>

        <%- include('includes/base.ejs'); %>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
            
    </body>
</html>